@media (max-width: 900px) {

    .favorites-section {
      height: 60rem;
    }

    .fav-moments {
      padding-bottom: 2rem;
    }

    .moments {
      max-height: none;
    }

    .ring {
       height: 20rem;
       width: 20rem;
    }

    .ring:hover {
      transform: scale(1.4);
    }

    .raise:hover {
      transform: translateY(-50%) scale(1.4);
    }


    .pricing-section {
      width: 80%;
      display: block;
      margin: 0 auto;
    }

    .price-category {
      display: block;
    }

    .price-category__box {
      display: block;
      width: 100%;
    }

    .pricing-table{
        width: 100%;
        display: block;
    }

    .pricing-row {
        display: block;
        width: 100%;
    }

    .pricing-data {
        display: block;
        width: 100%;
        padding: 2rem;
    }

    .form-box {
      width: 75%;
    }

}
