@media (min-width: 1200px) {

    .favorites-section {
      padding-bottom: 5rem;
    }

    .ring {
       height: 35rem;
       width: 35rem;
    }

    .ring:hover {
      transform: scale(1.2);
    }



    .ring.raise:hover {
      transform: translateY(-50%) scale(1.2);

    }

    .fav-moments {
      padding: 5rem;
    }

}
